.user-demographic-header-content {
    text-align: center;
    
    h1 {
        color: white;
        margin-bottom: 40px;
    }
    
    .button {
        border-color: white;
        color: white;
    }
}