.user-demographic-header-content {
    text-align: center;
    
    h1 {
        color: white;
        margin-bottom: 40px;
    }
    
    .button {
        border-color: white;
        color: white;
        margin: 0px 10px;
    }
}

.read-more-container {
    margin-top: 80px;
}

.notable-clients-bar {
    background: #EFEFEF;
    min-height: 120px;
    margin-top: -64px;
    margin-bottom: 64px;
    
    img {
        opacity: .60;
    }
}

.action-plan-container {
    margin-top: rem_calc(64);
    margin-bottom: rem_calc(64);
    
    h3 {
        border-bottom: 1px solid #DFDFDF;
        padding-bottom: 20px;
        .button {
            float: right;
            vertical-align: text-top;
        }
    }
    
    .accordion-content {
        padding: 0px;
    }
}

.impact_quote_actions {
    margin-top: 30px;
}

.demographic-project-container {
    margin: rem_calc(64) 0px;
    padding: rem_calc(64) 0px;
}