.user-demographic-header-content {
    text-align: center;
    
    h1 {
        color: white;
        margin-bottom: 40px;
    }
    
    .button {
        border-color: white;
        color: white;
        margin: 0px 10px;
    }
}

.impact_quote_actions {
    margin-top: 30px;
}

.demographic-project-container {
    margin: rem_calc(64) 0px;
    padding: rem_calc(64) 0px;
}