#projects-map {
    border-bottom: 1px solid #EFEFEF;
    height: 27rem;
    width: 100%;
    
    @include breakpoint(small only) {
        height: 20rem;
    }
    
    @include breakpoint(large only) {
        height: 30rem;
    }
    
    @include breakpoint(xlarge) {
        height: 34rem;
    }
}

.project-archive {
    
    h4 {
        margin-top: 10px;
    }
    
    h5 {
        margin: 40px 0px 20px 0px;
        text-transform: uppercase;
    }
}