.single-project {
    
    h1 {
        color: #444444;
        font-size: 2rem;
        font-weight: bold;
    }
    
    h4.project-location {
        font-size: 20px;
        font-weight: normal;
        margin-top: 10px;
    }
    
    .project-info-container {
        margin: 36px 0px;
        
        .project-info {

            h4 {
                line-height: 1;
                margin-top: 10px;
            }
            
            .project-info-content {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    
    .content-section {
        padding: 40px 0px;
    }
    
    .find-out-more {
        
        h3 {
            display: inline;
            font-size: 1rem;
        }
    }
    
    .back-to-projects {
        padding: 80px 0px 20px 0px;
        
        i {
                color: #666666;
                font-size: 20px;
                margin-right: 10px;
        }
        
        a {
            color: #666666;
            font-family: "Century Gothic W01";
            text-transform: uppercase;
        }
    }
    
    .more-projects-container {
        background: #E6E6E6;
        margin-bottom: -40px;
        padding: 40px 0px;
        
        h4 {
            font-family: "Century Gothic W01";
            font-size: 18px;
            margin: 14px 0px 6px 0px;
        }
    }
    
    .project-donate-section {
        text-align: center;
    }
}