@include breakpoint(small) {
	#featured-hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0 0 rem-calc(64);
		position: relative;
		height: rem-calc(300);
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}

@include breakpoint(medium) {
	#featured-hero {
		height: rem-calc(400);
		}
}

@include breakpoint(large) {
	#featured-hero {
		height: rem-calc(450);
		}
}

@include breakpoint(xlarge) {
    #featured-hero {
        height: rem-calc(500);
    }
}

@include breakpoint(xxlarge) {
    #featured-hero {
        height: rem-calc(550);
    }
}

#featured-hero, .fsv-container {
    .button {
        &:hover {
            background: white;
            border: 1px solid white;
            color: #444;
        }
    }

	.fih-form-container {
		padding-top: 30px;

		p {
			font-size: 18px;
		}

		form {
			background: rgba(255, 255, 255, 0.65);
			padding: 10px 25px;

			label {
				display: none;
			}

			.gfield_checkbox li {
				input {
					margin-top: 20px;
				}

				label {
					display: inline-block !important;
				}
			}
		}
	}
}