@include breakpoint(small) {
	#featured-hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0 0 rem-calc(32);
		position: relative;
		height: rem-calc(300);
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}

@include breakpoint(medium) {
	#featured-hero {
		height: rem-calc(400);
		}
}

@include breakpoint(large) {
	#featured-hero {
		height: rem-calc(450);
		}
}

@include breakpoint(xlarge) {
    #featured-hero {
        height: rem-calc(500);
    }
}

@include breakpoint(xxlarge) {
    #featured-hero {
        height: rem-calc(550);
    }
}
