.demographic-footer {
    background: #DDDDDD;
    margin-top: 40px;
    
    .row {
        margin: 0px;
        max-width: 100%;
    }
    
    .demographic-link {
        border-right: 1px solid white;
        text-align: center;
        
        a {
            color: #444;
            display: block;
            padding: 16px 0px;
        }
        
        &:last-child {
            border-right: none;
        }
        
        &:hover {
            background-color: $primary_color;
            
            a {
                color: white;
            }
        }
    }
}

#footer-container {
    background: #BBBBBB;
    padding: 40px 0px;
    
    .twitter-feed {
        
        .tweet {
            font-size: 12px;
        }
    }
    
    .instagram-feed {
        
        .column-block {
            margin-bottom: 20px;
        }
    }
}

.footer-sub-menu {
    background-color: #999;
    
    ul {
        margin: 0px;
        padding: 4px 0px;
        text-align: center;
        
        li {
            border-right: 1px solid white;
            display: inline;
            font-size: 11px;
            list-style-type: none;
            margin-right: 10px;
            padding-right: 10px;
            
            a {
                color: white;
                text-transform: uppercase;
            }
            
            &:last-child {
                border-right: none;
            }
        }
    }
}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}