.accordion {
    
    .accordion-title {
        color: #444444;
        font-size: 1rem;
        font-weight: bold;
        
        i {
            color: $primary_color;
            margin-right: 10px;
        }
    }
}