.accordion {
    
    .accordion-title {
        color: #444444;
        font-size: 1rem;
        font-weight: bold;
        
        .accordion-plus-button {
            border: 1px solid $primary_color;
            color: $primary_color;
            font-size: 28px;
            font-weight: normal;
            padding: 6px;
            position: absolute;
            left: -40px;
            line-height: 1rem;
            top: 2px;
            vertical-align: text-bottom;
        }
    }
}