// Transition Mixin
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin transform($transformation) {
  -ms-transform: $transformation;
  -webkit-transform: $transformation;
  transform: $transformation;
}

// Vertical Align
@mixin vertical-align-relative {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-align-relative {
  @include vertical-align-relative();
}

@mixin vertical-align-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-align-absolute {
  @include vertical-align-absolute();
}